.contador input {
  font-size: 1.4rem;
  width: 60px;
}

.contador button {
  font-size: 1.4rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #1499D3;
  color: #fff;
  margin: 15px;
}
